anyio==4.13.0
click==8.3.3
colorama==0.4.6
fastapi==0.110.0
h11==0.16.0
httptools==0.7.1
idna==3.13
joblib==1.4.2
numpy==2.0.2
packaging==26.2
pandas==2.2.3
pydantic==1.10.15
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-multipart==0.0.9
pytz==2026.1.post1
PyYAML==6.0.3
scikit-learn==1.8.0
scipy==1.17.1
six==1.17.0
sklearn-compat==0.1.5
starlette==0.36.3
threadpoolctl==3.6.0
typing_extensions==4.15.0
tzdata==2026.2
uvicorn==0.29.0
watchfiles==1.1.1
websockets==16.0
